/* space background theme for youtube.com */

 body,
 ytd-app,
 ytd-app[darker-dark-theme] {
     background: linear-gradient( rgba(0, 0, 0, 0.6),
     rgba(0, 0, 0, 0.6)), url("https://raw.githubusercontent.com/OutRite/css/main/space.jpg") fixed;
 }

 .ytd-app {
     background: transparent;
 }

 ytd-mini-guide-entry-renderer {
     background: #00000050;
 }


 #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
     background: #00000000;
 }

 #left-arrow-button.ytd-feed-filter-chip-bar-renderer,
 #right-arrow-button.ytd-feed-filter-chip-bar-renderer {
     background: #000000c0;
     border-radius: 20px;
 }

 * {
     --yt-spec-base-background: #00000020;
     --ytcp-general-background-a: #00000040;
     --yt-spec-menu-background: #00000070;
     --ytcp-brand-background-solid: #00000030;
 }
